parameters:
	ignoreErrors:
		-
			message: '#^Type array\<string, mixed\> in generic type Illuminate\\Database\\Eloquent\\Collection\<int, array\<string, mixed\>\> in PHPDoc tag @var for variable \$messages is not subtype of template type TModel of Illuminate\\Database\\Eloquent\\Model of class Illuminate\\Database\\Eloquent\\Collection\.$#'
			identifier: generics.notSubtype
			count: 1
			path: app/Actions/Chat/GetConversationMessagesAction.php

		-
			message: '#^Parameter \#1 \$relations of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Conversation\>\:\:with\(\) expects array\<array\|\(Closure\(Illuminate\\Database\\Eloquent\\Relations\\Relation\<\*, \*, \*\>\)\: mixed\)\|string\>\|string, array\{0\: ''participants'', messages\: Closure\(Illuminate\\Database\\Eloquent\\Relations\\HasMany\|Laravel\\Scout\\Builder\)\: void\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Chat/GetConversationsAction.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\|Illuminate\\Database\\Query\\Builder\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Events/ConversationsSnapshot.php

		-
			message: '#^Parameter \#1 \$relations of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Conversation\>\:\:with\(\) expects array\<array\|\(Closure\(Illuminate\\Database\\Eloquent\\Relations\\Relation\<\*, \*, \*\>\)\: mixed\)\|string\>\|string, array\{0\: ''participants'', messages\: Closure\(Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Relations\\HasMany\)\: void\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Events/ConversationsSnapshot.php

		-
			message: '#^Parameter \#1 \$collection of method Illuminate\\Pagination\\AbstractPaginator\<int,Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\>\:\:setCollection\(\) expects Illuminate\\Support\\Collection\<int, Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Followable/GetHuntersController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Pagination\\AbstractPaginator\<\(int\|string\),mixed\>\:\:through\(\) expects callable\(mixed, int\|string\)\: array\{id\: string, type\: string, title\: string, message\: string, data\: array\<string, mixed\>, read_at\: mixed, created_at\: mixed, created_at_human\: mixed\}, Closure\(Illuminate\\Notifications\\DatabaseNotification\)\: array\{id\: string, type\: string, title\: string, message\: string, data\: array\<string, mixed\>, read_at\: mixed, created_at\: mixed, created_at_human\: mixed\} given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Notification/NotificationController.php
