parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Actions/Chat/CreateConversationAction.php

		-
			message: '#^Access to an undefined property App\\Models\\Hunt\:\:\$views_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Hunt.php

		-
			message: '#^Binary operation "\+" between mixed and 1 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Models/Hunt.php

		-
			message: '#^Binary operation "\+" between Illuminate\\Database\\Eloquent\\Relations\\MorphToMany\|int and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Binary operation "\+" between mixed and int results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Binary operation "/" between mixed and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Method App\\Services\\Metrics\\Calculators\\HuntMetricsCalculator\:\:engagements\(\) has parameter \$likes with generic class Illuminate\\Database\\Eloquent\\Relations\\MorphToMany but does not specify its types\: TRelatedModel, TDeclaringModel, TPivotModel, TAccessor \(2\-4 required\)$#'
			identifier: missingType.generics
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Parameter \#1 \$views of method App\\Services\\Metrics\\Calculators\\HuntMetricsCalculator\:\:averageEngagementPerView\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Parameter \#3 \$shares of method App\\Services\\Metrics\\Calculators\\HuntMetricsCalculator\:\:engagements\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php

		-
			message: '#^Parameter \$metrics of class App\\DataTransferObjects\\Metrics\\MetricsData constructor expects array\<string, float\|int\|string\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Metrics/Calculators/HuntMetricsCalculator.php
